h1 {
    color: #000080;
    text-align: center;
}
h2 {
    color: black;
    text-align: left;
}
body {
    background-color: #66ff33;
    
}
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}